<!-- Barra de navegación con enlaces y márgenes automáticos a la derecha en dispositivos medianos y grandes -->
<nav>
    <!-- Enlace con ruta "inicio", activo cuando la ruta es exactamente igual, con estilos de texto y hover específicos -->
    <a routerLink="inicio" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="mr-10 hover:text-green-500">
        Inicio
    </a>
    <!-- Enlace con ruta "conocenos", activo cuando la ruta es exactamente igual, con estilos de texto y hover específicos -->
    <a routerLink="conocenos" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="mr-7 hover:text-green-500">
        Conocenos
    </a>
    <!-- Enlace con ruta "ubicacion", activo cuando la ruta es exactamente igual, con estilos de texto y hover específicos -->
    <a routerLink="ubicacion" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="mr-7 hover:text-green-500">
        Ubicacion 
    </a>
    <!-- Enlace con ruta "productos", activo cuando la ruta es exactamente igual, con estilos de texto y hover específicos -->
    <a routerLink="productos" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="mr-7 hover:text-green-500">
        Productos
    </a>
</nav>
