<section class="text-black-700 bg-white-700 body-font">
    <div class="container px-5 py-24 mx-auto">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-center text-black mb-20">Productos disponibles </h1>
      <div class="flex flex-wrap -m-4">
        @for(item of lista; track item.id){
          <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden">
              <img alt="ecommerce" 
              class="object-cover object-center w-full h-full block" 
              src="{{item.thumbnail}}">
            </a>
            <div class="mt-4">
              <h3 class="text-gray-800 text-xs tracking-widest title-font mb-1">{{item.category}}</h3>
              <h2 class="text-gray-400 title-font text-lg font-medium">{{item.title}}</h2>
              <p class="text-gray-600 mt-1">${{item.price}}.00</p>
            </div>
          </div>
        }
      </div>
    </div>
  </section>